
  <section class="info-section">
    <div class="row bg-dark info">
      <div class="col-12 text-center text-white footer-col-style fonts">
        <h3>Sing like no one’s listening, love like you’ve never been hurt, dance like nobody’s watching, and live like
          it’s heaven on earth</h3>
        <a class="btn btn-block btn-social btn-twitter text-white social">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-block btn-social btn-instagram text-white social">
          <span class="fa fa-instagram"></span>
        </a>
        <a class="btn btn-block btn-social btn-facebook text-white social">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-block btn-social btn-linkedin text-white social">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>
      <div class="row">
        <div class="col-12 text-center bg-grey text-white">
          <p>Made by Sulthanul Arief @ 2022</p>
        </div>
      </div>
    </div>
    </div>
  </section>
