<%- include('partials/header.ejs') %>
<body class="aboutUS">
    <div>
        <h1  style="color:white;">About</h1>
        <p style="color: white;"><%=aboutPara%></p>
    </div>
</body>





<%- include('partials/footer.ejs') %>