<%- include("partials/header"); -%>

  <body class="home-bg">
    <div class="card" style="margin-top:15px;">
      <div class="card-header">
        <h1 style="font-family: 'Stylish', sans-serif;"><%=title%></h1>
        
      </div>
      <div class="card-body">
        <p style="color: purple; font-style: italic;"><%=content%></p>
      </div>
    </div>













  

     <!-- Post page Footer section Start -->


<!-- 

     <section class="info-section">
      <div class="row bg-dark" style="border-radius: 10px;">
        
        <div class="col-6 footer-col-style fonts">
          <form action="/footer" method="post">
          <input type="text" class="form-control form-space" placeholder="First name" aria-label="First name" required>
          <input type="text" class="form-control form-space" placeholder="Last name" aria-label="Last name" required>
          <input type="email" class="form-control form-space" placeholder="Enter your Email here..," aria-label="Last name" required>
          <textarea name="content" class="form-control form-space" placeholder="Hi Friends Hope you are liked it., Enter your Comment Here." id="exampleFormControlTextarea1" rows="1" required></textarea>
          <div class="text-center">
            <button class="btn btn-primary  " style="width: 80%;" type="submit">Post your Comments..</button>
          </div>
        </form>
        </div> 
        
        
        <div class="col-6 text-center text-white footer-col-style fonts">
          <h3>Sing like no one’s listening, love like you’ve never been hurt, dance like nobody’s watching, and live like
            it’s heaven on earth</h3>
          <a class="btn btn-block btn-social btn-twitter text-white social">
            <span class="fa fa-twitter"></span>
          </a>
          <a class="btn btn-block btn-social btn-instagram text-white social">
            <span class="fa fa-instagram"></span>
          </a>
          <a class="btn btn-block btn-social btn-facebook text-white social">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="btn btn-block btn-social btn-linkedin text-white social">
            <span class="fa fa-linkedin"></span>
          </a>
        </div>
        <div class="row">
          <div class="col-12 text-center bg-grey text-white">
            <p>Made by Sulthanul Arief @ 2022</p>
          </div>
    
        </div>
    
        </div>
      </div>
    </section> -->

    <!-- Post page Footer End -->
  