<%- include("partials/header"); -%>

  <body class="home-bg">
    <div class="card" style="margin-top:15px;">
      <div class="card-header">
        <h1 style="font-family: 'Stylish', sans-serif;"><%=title%></h1>
        
      </div>
      <div class="card-body">
        <p style="color: purple; font-style: italic;"><%=content%></p>
      </div>
    </div>
  <p id="homePage"></p>
  <%- include('partials/footer.ejs') %>