.compose-head {
    position: absolute;
    top: 15%;
    left: 35%;
}
.compose-form {
    position: absolute;
    width: 80%;
    margin: 50px;
    left: 10%;
    top: 20%;

}
.compose-container {
    background-image: url("/images/book.jpg");
}
